body {
    font-family: "Roboto", sans-serif ;
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: #1F2937;
    padding-top: 20px;
    padding-left: 220px;
    padding-right: 220px;
    padding-bottom: 20px;
    color: white;
}
 .content {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     flex: 1 1 auto;
 }

.panel1 {
    display: flex;
    background-color: #1F2937;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 100px;
    gap: 50px;
    height: 500px;
}

.panel2{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    height: 500px;
}

.panel3 {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #e5e7eb;
    width: 100%;
}

.panel4 {
    display: flex;
    align-items: center;
    height: 500px;
}

.modal {
    display: flex;
    background-color: #3882f6;
    justify-content: space-around;
    padding: 40px;
    gap: 40px;
    border-radius: 10px;
    width: 700px;
}
.seller-content {
    color: #e5e7eb;
}

.seller-header {
    font-weight: 800;
    font-size: 20px;
}

.buttons {
    display: flex;
    gap: 30px;
}
.buttonig {
    padding: 10px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    color: #e5e7eb;
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    justify-content: center;
    align-items: center;
}
.quote {
    display: flex;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    width: 30%;
}

.credit {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    width: 30%;
    font-size: 20px;
    font-weight: 700;
}

.showtxt {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    padding: 40px;
}
.photos {
    display: flex;
    flex-direction: row;
    gap: 10px;


}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex: 1;
}
.text {
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    flex: 1 1 auto;
    padding: 10px;
}


.hero {
    display: flex;
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin: 0px;
    padding: 0px;
    flex-wrap: wrap;
    width: 340px;
    flex: 1 0 autos;
}
.herosub {
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: #e5e7eb;
    padding: 5px;
    padding-bottom: 10px;
}

.sign {
    padding: 10px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
    color: #e5e7eb;
    background-color: #3882f6;
}


.logo {
    font-size: 24px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
    padding: 0px;
    margin: 0px;
}
p {
    margin: 0px;
    padding: 0px;
}

.header-links {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    color: #e5e7eb;
}